.cache
.coverage
tmp
__pycache__
*.pyc
*~
.DS_store
minimal.txt
full.txt
build/
dist/
htmlcov/
ocfl_py.egg-info/
.eggs/
.tox/
extra_fixtures/warn-objects/W003_empty_content_dir
extra_fixtures/bad-objects/E024_empty_dir_in_content